<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Tienda Comics</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Tienda Comics.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Tienda Comics</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    @{
                        var rol = Context.Session.GetString("Rol");
                    }
                    <ul class="navbar-nav flex-grow-1">
                        @if (rol == "Administrador")
                        {
                            <li class="nav-item"><a class="nav-link text-dark" asp-page="/Ventanas/Categorias">Categorias</a></li>
                            <li class="nav-item"><a class="nav-link text-dark" asp-page="/Ventanas/Editoriales">Editoriales</a></li>
                            <li class="nav-item"><a class="nav-link text-dark" asp-page="/Ventanas/Comics">Comics</a></li>
                            <li class="nav-item"><a class="nav-link text-dark" asp-page="/Ventanas/Clientes">Clientes</a></li>
                            <li class="nav-item"><a class="nav-link text-dark" asp-page="/Ventanas/Vendedores">Vendedores</a></li>
                            <li class="nav-item"><a class="nav-link text-dark" asp-page="/Ventanas/Sucursales">Sucursales</a></li>
                            <li class="nav-item"><a class="nav-link text-dark" asp-page="/Ventanas/Metodos_de_Pagos">Metodos_de_Pagos</a></li>
                            <li class="nav-item"><a class="nav-link text-dark" asp-page="/Ventanas/Ventas">Ventas</a></li>
                            <li class="nav-item"><a class="nav-link text-dark" asp-page="/Ventanas/Detalles_Ventas">Detalles_Ventas</a></li>
                            <li class="nav-item"><a class="nav-link text-dark" asp-page="/Ventanas/Usuarios">Usuarios</a></li>
                        }

                        @if (rol == "Cliente")
                        {
                            
                            <li class="nav-item"><a class="nav-link text-dark" asp-page="/Ventanas/Catalogo_de_Comics">Catalogo de Comics</a></li>
                            <a class="btn btn-outline-secondary" href="/Ventanas/Carrito">🛒 </a>
                        }

                        @if (rol == "Vendedor")
                        {
                            <li class="nav-item"><a class="nav-link text-dark" asp-page="/Ventanas/Clientes">Clientes</a></li>
                            <li class="nav-item"><a class="nav-link text-dark" asp-page="/Ventanas/Metodos_de_Pagos">Metodos_de_Pagos</a></li>
                            <li class="nav-item"><a class="nav-link text-dark" asp-page="/Ventanas/Ventas">Ventas</a></li>
                            <li class="nav-item"><a class="nav-link text-dark" asp-page="/Ventanas/Detalles_Ventas">Detalles_Ventas</a></li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - Tienda Comics - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>